* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Josefin Sans;
  font-style: normal;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hid {
  display: hidden;
}

.button {
  width: 248px;
  height: 50px;
  padding: .4em;
  color: aliceblue;
  background: #7A03EC;
  border: none;
  -webkit-box-shadow: 0px 2.97006px 2.97006px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2.97006px 2.97006px rgba(0, 0, 0, 0.25);
  border-radius: 10.3952px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.button:hover {
  background-color: #7122b1;
  cursor: pointer;
}

.button--secondary {
  color: #353535;
  background-color: #ffe83f;
}

.button--secondary:hover {
  background-color: #e2d997;
  cursor: pointer;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.intro__center {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro__continuar {
  margin-top: 1em;
}

.intro__r {
  width: 800px;
  height: 800px;
  background-color: #F9E866;
  position: absolute;
}

.intro__r--1 {
  right: 0px;
  top: 0px;
}

.intro__r--2 {
  bottom: 0px;
  left: 0px;
}

.intro__radialBlur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 73.79%, rgba(255, 255, 255, 0) 100%);
}

.intro2 {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#8757FF), color-stop(26.84%, rgba(135, 87, 255, 0)));
  background: linear-gradient(90deg, #8757FF 0%, rgba(135, 87, 255, 0) 26.84%);
}

.intro2__container {
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro2__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.intro2__paragraph {
  width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: auto 1em;
  color: #7B7B7B;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 33px;
}

.intro2__continuar {
  margin: 2em auto;
}

.lookup {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lookup__choice {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookup__input {
  width: 100%;
  background-color: #7A03EC;
  padding: 3em;
  margin-top: 45%;
}

.lookup__test {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 1em;
  font-size: 24px;
}

.lookup__choiceTitle {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #FFF;
}

.lookup__select {
  margin-top: 20%;
}

.lookup__result {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookup__students {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lookup__rTitle {
  width: 473px;
  height: 136.46px;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  color: #8757FF;
  background: radial-gradient(172.5% 2311.22% at 139.75% 172.5%, #ffe83f 0%, rgba(135, 87, 255, 0) 100%);
}

.lookup__lStudent {
  width: 280px;
  height: 50px;
  background: radial-gradient(172.5% 2311.22% at 139.75% 172.5%, #8757FF 0%, rgba(135, 87, 255, 0) 100%);
  border-radius: 6px;
  list-style: none;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 1em;
}

.lookup__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lookup__movieHeader {
  font-size: 34px;
  color: #8757FF;
}

.lookup__movieResult {
  margin: 2em auto;
  font-size: 32px;
  color: #325044;
}
/*# sourceMappingURL=main.css.map */